@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    box-sizing: border-box;
    text-align: center;
}

h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
    color: white;
}

p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    color: white;
}

img {
    width: 10%;
    margin: 0 50px;
}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0 15px;
    transition: .3s;
}

a:hover {
    color: black;
}

.name {
    margin-top: 100px;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.header ul {
    display: flex;
    list-style: none;
}

.job {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.7rem;
}

hr {
    border: none;
    border-bottom: 2px solid #5fae8c;
    width: 20%;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    margin: 100px 0 50px;
}

.skill {
    width: 50%;
    text-align: center;
}

button {
    --b: 3px;
    /* border thickness */
    --s: .15em;
    /* size of the corner */
    --c: #044b2c;

    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

button:hover,
button:focus-visible {
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}

button:active {
    background: var(--c);
    color: #fff;
}

button {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin: 30px;
}